{
  "extends": [
    "airbnb"
  ],
  "globals": {
    "document": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  },
  "rules": {
    "no-underscore-dangle": [2, { "allowAfterThis": true }],
    "react/react-in-jsx-scope": [
      "off"
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "no-console": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}